@import "./c-colors.scss";

@mixin backlight($x, $y, $spread, $size, $colorA, $colorB, $duration) {
  &:after {
    position: absolute;
    content: "";
    top: $y;
    left: $x;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale($size);
    -webkit-filter: blur($spread);
    -moz-filter: blur($spread);
    -ms-filter: blur($spread);
    filter: blur($spread);
    background: linear-gradient(270deg, $colorA, $colorB);
    background-size: 200% 200%;
    animation: animateGlow $duration ease infinite;

    @keyframes animateGlow {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
  }
}

.c-box-back-glow {
  position: relative;
  width: 100%;
  border-radius: 0.75rem;
  padding: 0.875rem 0.75rem;
  box-sizing: border-box;
  color: var(--cw-color-primary-white);
  background-color: var(--cw-color-secondary-dark);
  box-shadow: 0 0.125rem 5rem var(--cw-color-tertiary-dark);
  animation: textColor 10s ease infinite;
  @include backlight(0, 2.5vw, 5vw, 0.625, var(--cw-color-primary-dark), var(--cw-color-tertiary-dark), 10s);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--cw-color-primary-dark);
    animation: textColorTitle 10s ease infinite;
  }

  @keyframes textColor {
    0% {
      color: var(--cw-color-primary-white);
    }
    50% {
      color: var(--cw-color-tertiary-white);
    }
    100% {
      color: var(--cw-color-primary-white);
    }
  }

  @keyframes textColorTitle {
    0% {
      color: var(--cw-color-primary-dark);
    }
    50% {
      color: var(--cw-color-tertiary-dark);
    }
    100% {
      color: var(--cw-color-primary-dark);
    }
  }
}

.c-card-box-shadow {
  background-color: var(--cw-color-box-shadow);
  border-radius: 0.75rem;
  padding: 0.875rem 0.75rem;
  box-sizing: border-box;
  width: 100%;
  box-shadow: 0 0.125rem 0.25rem var(--cw-color-tertiary-dark);
}

.c-magic-neon {
  border: none;
  padding: 1rem 2rem;
  background-color: var(--cw-color-secondary-dark);
  color: var(--cw-color-primary-dark);
  font-size: 1.5rem;
  font-weight: bold;
  position: relative;
  border-radius: 0.75rem;
}

.c-magic-neon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(
    45deg,
    var(--cw-color-primary-dark),
    var(--cw-color-primary-white),
    var(--cw-color-secondary-dark),
    var(--cw-color-secondary-white),
    var(--cw-color-tertiary-white),
    var(--cw-color-tertiary-dark),
    var(--cw-color-quaternary-dark),
    var(--cw-color-quaternary-white),
    var(--cw-color-quinary-dark),
    var(--cw-color-quinary-white),
    var(--cw-color-senary-dark),
    var(--cw-color-senary-white),
    var(--cw-color-box-shadow),
    var(--cw-color-success),
    var(--cw-color-danger),
  );
  background-size: 800%;
  border-radius: 10px;
  filter: blur(8px);
  animation: neon 20s linear infinite;
}

@keyframes neon {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 400% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}
