@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap");

.title-neon {
  font-family: "Mochiy Pop One", sans-serif;
  letter-spacing: 0.125rem;
  line-height: 1em;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 0.063rem var(--cw-color-tertiary-dark);
  width: 100%;
}

.title-neon::before {
  max-width: 25rem;
  content: attr(data-text);
  position: absolute;
  color: var(--cw-color-primary-dark);
  overflow: hidden;
  border-right: 0.5rem solid var(--cw-color-primary-dark);
  -webkit-text-stroke: 0.063rem var(--cw-color-primary-dark);
  animation: neon-animation 2.5s infinite;
  transition: width 0.5s ease-in-out;
  filter: drop-shadow(0 0 1.563rem var(--cw-color-primary-dark));
}

@keyframes neon-animation {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
