.c-tooltip-bottom {
  z-index: 1000;
  padding: 1.125rem 2rem;
  background: #292f36;
  min-width: 9.375rem;
  max-width: 11.25rem;
  border-radius: 0.313rem;
  text-align: center;
  filter: drop-shadow(0 0.188rem 0.313rem #000000);
  line-height: 1.5;
}

.c-tooltip-bottom:after {
  content: "";
  position: absolute;
  bottom: -0.563rem;
  left: 50%;
  margin-left: -0.563rem;
  width: 1.125rem;
  height: 1.125rem;
  background: #292f36;
  transform: rotate(45deg);
}

.c-tooltip-top {
  z-index: 1000;
  padding: 1.125rem 2rem;
  background: #292f36;
  min-width: 9.375rem;
  max-width: 11.25rem;
  border-radius: 0.313rem;
  text-align: center;
  filter: drop-shadow(0 0.188rem 0.313rem #000000);
  line-height: 1.5;
}

.c-tooltip-top:after {
  content: "";
  position: absolute;
  top: -0.563rem;
  left: 50%;
  margin-left: -0.563rem;
  width: 1.125rem;
  height: 1.125rem;
  background: #292f36;
  transform: rotate(45deg);
}

.c-tooltip-left {
  z-index: 1000;
  padding: 1.125rem 2rem;
  background: #292f36;
  min-width: 9.375rem;
  max-width: 11.25rem;
  border-radius: 0.313rem;
  text-align: center;
  filter: drop-shadow(0 0.188rem 0.313rem #000000);
  line-height: 1.5;
}

.c-tooltip-left:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -0.563rem;
  margin-top: -0.563rem;
  width: 1.125rem;
  height: 1.125rem;
  background: #292f36;
  transform: rotate(45deg);
}

.c-tooltip-right {
  z-index: 1000;
  padding: 1.125rem 2rem;
  background: #292f36;
  min-width: 9.375rem;
  max-width: 11.25rem;
  border-radius: 0.313rem;
  text-align: center;
  filter: drop-shadow(0 0.188rem 0.313rem #000000);
  line-height: 1.5;
}

.c-tooltip-right:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -0.563rem;
  margin-top: -0.563rem;
  width: 1.125rem;
  height: 1.125rem;
  background: #292f36;
  transform: rotate(45deg);
}
