<section class="main-wraper">
  <header>
    <h1>My Website</h1>
  </header>

  <nav>
    <ul>
      <li>
        <a href="#">Colores</a>
      </li>
      <li>
        <a href="#">Botones</a>
      </li>
      <li>
        <a href="#">Input</a>
      </li>
      <li>
        <a href="#">Text area</a>
      </li>
      <li>
        <a href="#">Directivas</a>
      </li>
    </ul>
  </nav>

  <main>
    <div class="c-box-back-glow">
      <h1>Titulo Genial</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A error eum
        quia eaque perspiciatis, ratione, esse officiis cum eos placeat
        reprehenderit? Assumenda quae omnis inventore voluptatem facilis, harum
        soluta ex?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A error eum
        quia eaque perspiciatis, ratione, esse officiis cum eos placeat
        reprehenderit? Assumenda quae omnis inventore voluptatem facilis, harum
        soluta ex?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A error eum
        quia eaque perspiciatis, ratione, esse officiis cum eos placeat
        reprehenderit? Assumenda quae omnis inventore voluptatem facilis, harum
        soluta ex?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A error eum
        quia eaque perspiciatis, ratione, esse officiis cum eos placeat
        reprehenderit? Assumenda quae omnis inventore voluptatem facilis, harum
        soluta ex?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A error eum
        quia eaque perspiciatis, ratione, esse officiis cum eos placeat
        reprehenderit? Assumenda quae omnis inventore voluptatem facilis, harum
        soluta ex?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A error eum
        quia eaque perspiciatis, ratione, esse officiis cum eos placeat
        reprehenderit? Assumenda quae omnis inventore voluptatem facilis, harum
        soluta ex?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A error eum
        quia eaque perspiciatis, ratione, esse officiis cum eos placeat
        reprehenderit? Assumenda quae omnis inventore voluptatem facilis, harum
        soluta ex?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A error eum
        quia eaque perspiciatis, ratione, esse officiis cum eos placeat
        reprehenderit? Assumenda quae omnis inventore voluptatem facilis, harum
        soluta ex?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A error eum
        quia eaque perspiciatis, ratione, esse officiis cum eos placeat
        reprehenderit? Assumenda quae omnis inventore voluptatem facilis, harum
        soluta ex?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A error eum
        quia eaque perspiciatis, ratione, esse officiis cum eos placeat
        reprehenderit? Assumenda quae omnis inventore voluptatem facilis, harum
        soluta ex?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A error eum
        quia eaque perspiciatis, ratione, esse officiis cum eos placeat
        reprehenderit? Assumenda quae omnis inventore voluptatem facilis, harum
        soluta ex?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A error eum
        quia eaque perspiciatis, ratione, esse officiis cum eos placeat
        reprehenderit? Assumenda quae omnis inventore voluptatem facilis, harum
        soluta ex?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A error eum
        quia eaque perspiciatis, ratione, esse officiis cum eos placeat
        reprehenderit? Assumenda quae omnis inventore voluptatem facilis, harum
        soluta ex?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A error eum
        quia eaque perspiciatis, ratione, esse officiis cum eos placeat
        reprehenderit? Assumenda quae omnis inventore voluptatem facilis, harum
        soluta ex?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A error eum
        quia eaque perspiciatis, ratione, esse officiis cum eos placeat
        reprehenderit? Assumenda quae omnis inventore voluptatem facilis, harum
        soluta ex?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A error eum
        quia eaque perspiciatis, ratione, esse officiis cum eos placeat
        reprehenderit? Assumenda quae omnis inventore voluptatem facilis, harum
        soluta ex?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A error eum
        quia eaque perspiciatis, ratione, esse officiis cum eos placeat
        reprehenderit? Assumenda quae omnis inventore voluptatem facilis, harum
        soluta ex?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A error eum
        quia eaque perspiciatis, ratione, esse officiis cum eos placeat
        reprehenderit? Assumenda quae omnis inventore voluptatem facilis, harum
        soluta ex?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A error eum
        quia eaque perspiciatis, ratione, esse officiis cum eos placeat
        reprehenderit? Assumenda quae omnis inventore voluptatem facilis, harum
        soluta ex?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A error eum
        quia eaque perspiciatis, ratione, esse officiis cum eos placeat
        reprehenderit? Assumenda quae omnis inventore voluptatem facilis, harum
        soluta ex?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A error eum
        quia eaque perspiciatis, ratione, esse officiis cum eos placeat
        reprehenderit? Assumenda quae omnis inventore voluptatem facilis, harum
        soluta ex?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A error eum
        quia eaque perspiciatis, ratione, esse officiis cum eos placeat
        reprehenderit? Assumenda quae omnis inventore voluptatem facilis, harum
        soluta ex?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A error eum
        quia eaque perspiciatis, ratione, esse officiis cum eos placeat
        reprehenderit? Assumenda quae omnis inventore voluptatem facilis, harum
        soluta ex?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A error eum
        quia eaque perspiciatis, ratione, esse officiis cum eos placeat
        reprehenderit? Assumenda quae omnis inventore voluptatem facilis, harum
        soluta ex?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A error eum
        quia eaque perspiciatis, ratione, esse officiis cum eos placeat
        reprehenderit? Assumenda quae omnis inventore voluptatem facilis, harum
        soluta ex?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A error eum
        quia eaque perspiciatis, ratione, esse officiis cum eos placeat
        reprehenderit? Assumenda quae omnis inventore voluptatem facilis, harum
        soluta ex?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A error eum
        quia eaque perspiciatis, ratione, esse officiis cum eos placeat
        reprehenderit? Assumenda quae omnis inventore voluptatem facilis, harum
        soluta ex?
      </p>
    </div>
  </main>
</section>
