<section class="main-wraper">
  <header>
    <h1>My Website</h1>
  </header>

  <nav>
    <ul>
      <li>
        <a href="#">Colores</a>
      </li>
      <li>
        <a href="#">Botones</a>
      </li>
      <li>
        <a href="#">Input</a>
      </li>
      <li>
        <a href="#">Text area</a>
      </li>
      <li>
        <a href="#">Directivas</a>
      </li>
    </ul>
  </nav>

  <main>
    <c-youtube-player
      [videoId]="
        'https://www.youtube.com/watch?v=KVjBCT2Lc94&list=RDw5VOUynJHf0&index=15'
      "
    ></c-youtube-player>
  </main>
</section>
