<section class="main-wraper">
  <header>
    <h1>My Website</h1>
  </header>

  <nav>
    <ul>
      <li>
        <a href="#">Colores</a>
      </li>
      <li>
        <a href="#">Botones</a>
      </li>
      <li>
        <a href="#">Input</a>
      </li>
      <li>
        <a href="#">Text area</a>
      </li>
      <li>
        <a href="#">Directivas</a>
      </li>
    </ul>
  </nav>

  <main>
    <div class="c-box-back-glow mb-5">
      <c-list [params]="data"></c-list>
    </div>
  </main>

  <footer>
    <!-- Aquí va tu contenido del footer -->
    <p>Derechos de autor © 2023 - Mi página web</p>
  </footer>
</section>
